<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <div class="flex justify-center items-center">
            <div class="grid grid-cols-3 gap-4 items-center">
                <div class="col-span-1">
                    <img src="/images/team-hero.png" alt="">
                </div>
                <div class="col-span-2">
                    <h1 class="mb-8 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Simplify Your Team Management</h1>
                    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Streamline workflows, improve collaboration, and unlock your team’s full potential—all in one place.</p>
                    <div>
                        <a href="/teams" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                            Get started
                            <svg class="w-3.5 h-3.5 ml-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bg-white mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img src="/images/clients/microsoft.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img src="/images/clients/airbnb.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
    </div>
    <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
        <img src="/images/clients/google.svg" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
    </div>
    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img src="/images/clients/ge.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
    </div>
    <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
        <img src="/images/clients/netflix.svg" class="h-8 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
    </div>
    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img src="/images/clients/google-cloud.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
    </div>
</div>